/* src/Components/AdminNavbar/AdminNavbar.css */

.admin-navbar {
  background-color: #212529;
}

.admin-navbar .navbar-brand,
.admin-navbar .nav-link {
  color: #ffffff;
}

.admin-navbar .nav-link:hover {
  color: #17a2b8;
}
