/* src/Components/DoctorNavbar/DoctorNavbar.css */

.doctor-navbar {
  background-color: #343a40;
}

.doctor-navbar .navbar-brand,
.doctor-navbar .nav-link {
  color: #ffffff;
}

.doctor-navbar .nav-link:hover {
  color: #28a745;
}
