/* index.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background: rgb(236, 245, 247);
  min-height: 180vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 180vh;
}

.content {
  flex: 1;
  padding-bottom: 10px;
  height:550px;
  /* min-height: 100px; */
}

/* Responsive Design */
@media (min-width: 1024px) {
  body {
    font-size: 0.95rem;
    min-height: 100vh;
  }
  .app-container {
    min-height: 100vh;
  }
  .content {
    padding-bottom: 8px;
    min-height: 20vh;
  }
}
@media (max-width: 1024px) {
  body {
    font-size: 0.95rem;
    min-height: 100vh;
  }
  .app-container {
    min-height: 100vh;
  }
  .content {
    padding-bottom: 8px;
    min-height: 20vh;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
    min-height: 100vh;
  }
  .app-container {
    min-height: 100vh;
  }
  .content {
    padding-bottom: 6px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.85rem;
    min-height: 80vh;
  }
  .app-container {
    min-height: 80vh;
  }
  .content {
    padding-bottom: 4px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 0.8rem;
    min-height: 100vh;
  }
  .app-container {
    min-height: 100vh;
  }
  .content {
    padding-bottom: 2px;
  }
}